.sectionone{
    background-image: -webkit-linear-gradient(160deg,#0c4803 50%, white 50%); 
    height: 100vh;
   
}
.nav{
    display: flex;
    justify-content: space-between;
    }
.leftnav h1{
    font-family: "Oleo Script Swash Caps";
    float: right;
}
 span{
    color: #1EAB07;
}
.rightnav a{
    text-decoration: none;
    font-size: 35px;
    color: white;
    padding: 30px;
    font-weight: 600;
}
/* the description paragraph */
.sectiontwo{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    
}
.description{
    font-size: 50px;
}
.image img{
    height: 450px;
}
/* About me */
.aboutme{
    background-color: #e4e4e4;
    overflow: hidden;
}
.mybackground{
    display: flex;
    justify-content: center;
}
.introduction h2,h5{
    text-align: center;
}
.introduction h2{
    font-size: 40px;
    color: #0c4803;
}
.introduction h5{
    font-size: 20px;
    color: #0c4803;
}

.education li, .experience li, .hobbies h3, .why h3{
    color: #1EAB07;
    font-weight: 700;
    font-size: 20px;
}
.hobbies p{
    /* font-size: 20px; */
    line-height: 1.5rem;
}
.hobbies h3{
    text-align: center;
}
.coding{
    display: flex;
    justify-content: space-evenly;
}
.why p{
    line-height: 1.9rem;
}