.sectionone{
    background-image: -webkit-linear-gradient(160deg,#0c4803 50%, white 50%); 
    height: 100vh;
   
}
.nav{
    display: flex;
    justify-content: space-between;
    }
.leftnav h1{
    font-family: "Oleo Script Swash Caps";
    float: right;
}
 span{
    color: #1EAB07;
}
.rightnav a{
    text-decoration: none;
    font-size: 35px;
    color: white;
    padding: 30px;
    font-weight: 600;
}
/* the description paragraph */
.sectiontwo{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    
}
.description{
    font-size: 50px;
    padding-top: 150px;
    padding-left: 65px;
}
.image img{
    height: 85%;
}
/* About me */
.aboutme{
    background-color: #e4e4e4;
    overflow: hidden;
}
.mybackground{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.introduction h2,h5{
    text-align: center;
    
}
.introduction h2{
    font-size: 60px;
    color: #0c4803;
    font-family: "Oleo Script Swash Caps";
    padding-top: 30px;
}
.introduction h5{
    font-size: 40px;
    color: #0c4803;
}

.education li, .experience li, .hobbies h3, .why h3{
    color: #1EAB07;
    font-weight: 700;
    font-size: 20px;
}
.hobbies p{
    /* font-size: 20px; */
    line-height: 1.5rem;
}
.hobbies h3{
    text-align: center;
}
.coding{
    display: flex;
    justify-content: space-evenly;
}
.why p{
    line-height: 1.9rem;
}
.contact{
    color: white;
    font-weight: 500px;
    background-color: #0c4803;
    border: none;
    padding: 30px 50px 30px 50px ;
    border-radius:5px 30px 30px 5px;
    margin-left: 47%;
}
.contact button{ margin-bottom: 20px;
}
/* Skills */
.threecards img{
    height: 150px;
    padding-top: 20px;
    object-fit: contain;
}
.threecards{
    height: 100vh;
    display: flex;
    justify-content: center;
    /* color: white; */
}
.cards{
    margin-left: 25px;
    background-color: white;
    height: 450px;
    /* width: 450px; */
    text-align: center;
    line-height: 1.8rem;
    margin-top: 200px;
    margin-left: 110px;
  
}


.myskills{
    background-image: url(assets/WhatsApp\ Image\ 2021-12-05\ at\ 7.02.04\ PM.jpeg);
    background-position: center;
    background-size: contain;
    height: 100vh;

}
.myskills h3,h5 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
/* my projects */
.mywork img{
    height: 90px;
}
.mywork{
    display: flex;
    justify-content: space-evenly;
}
.mywork li{
    padding-bottom: 30px;
    font-size: 2rem;
    color: #0c4803;
}
.mywork a{
    color: #0c4803;

}
.mywork p{
    text-align: left;
}
.projects h3{
    text-align: center;
    font-size: 2.5rem;
    color: #0c4803;
}